<header class="header px-24 bg-[rgba(255, 255, 255, 0.8)]">
    <div class="m-screen header-content mx-2">
      <div class="logo cursor-pointer" [routerLink]="['/']">
        <span class="material-symbols-outlined icon-logo">account_balance</span>
        <span class="logo-text">TADS BANK</span>
      </div>

      <nav class="nav-menu">
        <a class="nav-link max-md:hidden" [routerLink]="['/']">Início</a>
        <a class="nav-link max-md:hidden" [routerLink]="['/sobre-nos']">Sobre Nós</a>
      </nav>

      <div class="auth-buttons flex gap-2">
        <button [routerLink]="['/login']" class="h-fit">Login</button>
        <button [routerLink]="['/autocadastro']" class="h-fit">Abra sua Conta</button>
      </div>
    </div>
  </header>
