**/.idea
**/.env
**/node_modules/
**/dist/
**/.gradle
**/build/
!**/src/**/build/
**/gradle-app.setting
!**/gradle-wrapper.jar
!**/gradle-wrapper.properties
**/.gradletasknamecache
**/.project
**/.classpath
**/.DS_Store
**/*.log
**/explorations
**/TODOs.md
**/RELEASE_NOTE*.md
**/packages/server-renderer/basic.js
**/packages/server-renderer/build.dev.js
**/packages/server-renderer/build.prod.js
**/packages/server-renderer/server-plugin.js
**/packages/server-renderer/client-plugin.js
**/packages/template-compiler/build.js
**/packages/template-compiler/browser.js
**/.vscode
**/temp/
**/types/v3-generated.d.ts
front-end/.DS_STORE
front-end/dist/
front-end/bazel-out
front-end/integration/bazel/bazel-*
front-end/*.log
front-end/node_modules/
front-end/modules/ssr-benchmarks/node_modules/
front-end/modules/rollup-test/dist/
front-end/.angular/
front-end/.pnpm-store
front-end/.c9
front-end/.idea/
front-end/.settings/
front-end/.vscode/settings.json
front-end/*.swo
front-end/*.swp
front-end/modules/.settings
front-end/modules/.vscode
front-end/.vimrc
front-end/.nvimrc
front-end/.history
front-end/.devcontainer/*
!front-end/.devcontainer/README.md
!front-end/.devcontainer/recommended-devcontainer.json
!front-end/.devcontainer/recommended-Dockerfile
front-end/pubspec.lock
front-end/npm-debug.log
front-end/yarn-error.log
front-end/*secret.js
front-end/.build-analytics
front-end/.bazelrc.user
front-end/.ng-dev.user*
front-end/.notes.md
front-end/baseline.json
front-end/.husky/_
.idea
.env