<div class="flex justify-center w-full divide-x divide-gray-300">
    <div *ngFor="let rpt of [].constructor(repeatTimes); let i = index" class="w-full">
        <table class="w-full border-separate border-spacing-0">
            @if(!hideHeader) {
            <thead>
                <tr>
                    @for (col of columns; track col.title; let first = $first; let last = $last) {
                    <th [style.width.%]="col.size" class="text-left text-xs font-bold uppercase py-2 px-2 bg-gray-200 text-gray-600">
                        {{ col.title }}
                    </th>
                    }
                </tr>
            </thead>
            }
            @if(data().slice(skip).length > 0) {
            <tbody>
                @for(item of data().slice(skip); track item.cpf; let odd = $odd) {
                <tr class="text-sm text-text [&>td]:h-12 [&>td]:items-center [&>td]:px-2"
                    [ngClass]="odd ? '[&>td]:bg-gray-100 [&>td:first-child]:rounded-l-md [&>td:last-child]:rounded-r-md' : 'bg-white'">
                    <ng-container *ngTemplateOutlet="desktopRowTmpl; context: { $implicit: item }"></ng-container>
                </tr>
                }
            </tbody>
            }
        </table>
        @if (data().length < 1) { <div class="text-xs text-center my-4">
            Nenhum dado encontrado
    </div>
    }
</div>
</div>