<div>
    <div class="flex items-center mb-2 p-2 rounded-md border" [ngClass]="isSaida() ? 'bg-red-50 border-red-200' : 'bg-blue-50 border-blue-200'">
        @if (transaction.tipo === 'transferência') {
            @if(transaction.destino == accountNumber) {
            <span class="material-symbols-outlined text-blue-500">arrow_downward</span>
            <div class="ms-3">
                <p class="text-sm font-medium">{{ transaction.nome_origem }}</p>
                <p class="text-xs text-gray-400">Transferência recebida - {{ transaction.data| date: 'dd/MM/yyyy - HH:mm' }}</p>
            </div>
            } @else {
            <span class="material-symbols-outlined text-red-400">arrow_upward</span>
            <div class="ms-3">
                <p class="text-sm font-medium">{{ transaction.nome_destino }}</p>
                <p class="text-xs text-gray-400">Transferência enviada - {{ transaction.data | date: 'dd/MM/yyyy - HH:mm' }}</p>
            </div>
            }
        } @else if (transaction.tipo === 'depósito'){
            <span class="material-symbols-outlined text-blue-500">arrow_downward</span>
            <div class="ms-3">
                <p class="text-sm font-medium">Depósito em caixa eletrônico</p>
                <p class="text-xs text-gray-400">Depósito - {{ transaction.data | date: 'dd/MM/yyyy - HH:mm' }}</p>
            </div>
        } @else if (transaction.tipo === 'saque'){
            <span class="material-symbols-outlined text-red-400">arrow_upward</span>
            <div class="ms-3">
                <p class="text-sm font-medium">Saque em caixa eletrônico</p>
                <p class="text-xs text-gray-400">Saque - {{ transaction.data | date: 'dd/MM/yyyy - HH:mm' }}</p>
            </div>
        }
        <div class="ms-auto font-semibold text-sm" [ngClass]="isSaida() ? 'text-red-400' : 'text-blue-400'">
            @if (isSaida()) {
                -
            }{{ transaction.valor | currency:'BRL' }}
        </div>
    </div>
</div>