@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@import "flowbite/src/themes/default";

@theme {
  --color-primary: #562be3;
  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif;
  --spacing-main-screen: calc(100vh - 64px);
  --background-image-cliente: url('/bg-cliente.png');
  --background-image-login: url('/bg-login.png');
}

body {
  @apply font-sans overflow-x-hidden text-gray-700;
}

label {
  @apply block mb-0.5 text-gray-500 leading-tight font-sans text-xs;
}

input {
  @apply border border-[#d6c9ff] rounded-md text-sm font-sans outline-none h-8 px-2 bg-gray-50 w-full text-sm;
}

.req-ast {
  margin-left: 2px;
  font-size: 12px;
  color: red !important;
}


button {
  @apply bg-primary rounded-md text-white py-2 px-2 text-center text-sm cursor-pointer flex gap-x-1 justify-center items-center
}

button:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}

input:not(:placeholder-shown) {
  @apply bg-yellow-50;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
}

@keyframes toast-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes toast-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-toast-in {
  animation: toast-in 0.3s ease-out forwards;
}

.animate-toast-out {
  animation: toast-out 0.3s ease-in forwards;
}